
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:white;
        /*position: fixed; */
        /*top: 0; */
        /*width: 100%;*/
        font-family: 'Trebuchet MS';
        font-size: 0.95em;
    }
    
    .leftnav li {
        display: inline;
        padding-right: 6px;
        padding-left: 6px;
        color: white;
      }
    
     .leftnav #home {
        padding-left: 40px;
        background-image: url('media/page_crest.png');
        background-repeat: no-repeat;
        background-size: contain;
    } 

    .leftnav #horse {
        padding-left: 0px;
        padding-top: 10px;
        background-image: url('media/page_crest.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    li {
        float: left;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: rgb(0, 23, 56);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #6ebefc;
    }

    li .clear_hover:hover {
        background-color: #00000000;
    }
        
    /* TODO color current page  */
    .active {
        background-color: rgb(50, 127, 235);
    }

    /* Dropdown customization */
    li.dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #529dff;
        min-width: 160px;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: rgba(255, 255, 255, 0);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        color:white;
        font-size: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #0084ff}
    
    .dropdown:hover .dropdown-content { display: block;}

    .box {
        position: relative;
        width: 170px;
        height: 170px;
        background-size: auto;
    	padding-left: 10px;
        display: inline-block;
    }

    .human {
        width: 180px;
        height: 180px;
        background-origin: 20px;
        border-radius: 5%;
        background-repeat: no-repeat;
    }
    
    .info {
        width: 170px;
        height: 20px;
    }

    h1 {
        font-family: 'Lucida Console', Verdana, Helvetica;
        font-size: 120pt;
        color: #131313;
        margin-bottom: 50px;
        text-align: center;
    }

    h2{
        font-family: 'Trebuchet MS';
        font-size: 1.3em;
        text-align: center;
    }

    h3 {
        font-family: 'Trebuchet MS', Verdana, Helvetica;
        font-size: 1.05em;
        text-align: center;
    }

    p {
        font-family: 'Trebuchet MS', Verdana, Helvetica;
        font-size: 11;
        line-height: 70%;
 		font-family: Helvetica;
		text-align: center;
	}

    .details{
        font-style: italic;
        color: gray;
    }

.bigbox {
    /*min-height: 100%;*/
    border-bottom: gray solid 1px;
    background-position:center;
    
}

#feature {
	width: 50%;
	width: auto;
	height: 400px;
    background-color: #ff0000;
    
}

#main-feature {
	height: auto;
	max-height: 400px;
    align: center;
    object-fit: cover;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}